{% extends 'base.html' %}
{% block title %}About - Blood Bank{% endblock %}
{% block content %}
<div class="bg-light p-4 rounded shadow-sm">
    <h2 class="text-center mb-4">About This Project</h2>
    <p>
        The Blood Bank Management System is designed to simplify the process of donating, requesting, and managing blood units.
        It provides a central platform for users to register, search for donors, and maintain an efficient inventory system.
    </p>
    <h4 class="mt-4">Team Members:</h4>
    <ul>
        <li>Ambika Kadam </li>
        <li>Srushti Madhekar</li>
        <li>Shradha Magar</li>
    </ul>
</div>
{% endblock %}
