{% extends "base.html" %}

{% block content %}
<section class="py-5 bg-light" data-aos="fade-up">
    <div class="container">
        <h2 class="text-center mb-4" style="font-family: 'Noto Sans Devanagari', sans-serif;">Registration</h2>
        <div class="row justify-content-center">
            <div class="col-md-8 bg-white p-4 rounded shadow-sm">
                <form method="POST" action="/register" id="registrationForm">
                   <label for="role">Select Role:</label>
                   <select name="role" id="role" required>
                        <option value="" disabled selected>Choose your role</option>
                        <option value="Donor">Donor</option>
                        <option value="Receiver">Receiver</option>
                        <option value="Staff">Staff</option>
                    </select>
                    <button type="submit">Next</button>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}
